{% extends 'base.html' %}

{% block title %}Teacher Login{% endblock title %}

{% block content %}

<div class="container mt-5" style="border:7px outset rgb(101, 59, 179);width:70%">
    <h1 class="text-center  mt-5 "style="color:rgb(101, 59, 179);font-family: 'Lobster', cursive;">Login Page</h1>
    <div class="row row-cols-1 row-cols-md-2 mb-3 text-center logincoloum"style="margin-top:150px">
        <div class="col">
            <div class="card mb-1 rounded-3 shadow-sm">
                <div class="card-header py-3"style="background-color:rgb(101, 59, 179)">
                    <h4 class="my-0 fw-normal"style="color:white">Superuser</h4>
                </div>
                <div class="card-body">

                    <img src="static/University2.png" alt="Avatar"style="border-radius: 50%;width:200px;height:200px"class="mb-2">
            
                    <button type="button" class="w-100 btn btn-lg btn-primary"><a class="nav-link"
                            href="/my_view">Sign up/Sign In</a></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-2 rounded-3 shadow-sm">
                <div class="card-header py-3"style="background-color:rgb(101, 59, 179)">
                    <h4 class="my-0 fw-normal">Teachers</h4>
                </div>
                <div class="card-body">
                    <img src="static/img_avatar.png" alt="Avatar"style="border-radius: 50%;width:200px;height:200px"class="mb-2">
                    <button type="button" class="w-100 btn btn-lg btn-primary"><a class="nav-link"
                            href="teacherform">Add New Teacher</a></button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}